@model ServiceProtocol.Biz.UIManager.Mvc.RenderModel<ServiceProtocol.ObjectManager.QueryResult<CrowdMall.Bizness.Products.IItem>>
@{
	var showStatus =  !(Model.Args?.Get("hideStatus") == "true");
}
<div class="product-list left-menu-item" data-menu-text="@Model.Content.Title2" >
	<div class="head">
        <a href="@Model.Content.Uri">
            <div class="floor">@Model.Content.Title3</div>
            <h3 class="title">
                @Model.Content.Title1
            </h3>
        </a>
		<div class="more">
			<a href="@Model.Content.Uri">更多商品，点击查看&gt;&gt;</a>
		</div>
	</div>
	<ul class="items">
		@foreach (var item in Model.Data.Items)
        {
           @Html.Partial("../Product/_Item", item)
			@*<li class="product-item list-item">
				<a href="/item/@item.ItemId" target="_blank" title="(第@(item.CurRound.Round)期)@item.Title">
					<img src="@Html.Res("~/content/desktop/images/empty.gif")" data-src="@Html.Res("/r/"+item.Image+"?format=c200")" width="200" height="200" class="lazy"/>
					<h5>(第@(item.CurRound.Round)期)@item.Title</h5>
				</a>
				<span class="price">价值：￥@(Math.Round(item.MarketPrice)).00</span>
				@if (showStatus)
				{
					if (item.CurRound != null)
					{
						<div class="product-status">
							<div>
								<div style="width:@(item.CurRound.Selled * 100 / item.CurRound.Total)%"></div>
							</div>
							<ul>
								<li>
									<div>@item.CurRound.Selled</div>
									<div>已参与人次</div>
								</li>
								<li>
									<div>@item.CurRound.Total</div>
									<div>总需人次</div>
								</li>
								<li>
									<div>@(item.CurRound.Total - item.CurRound.Selled)</div>
									<div>剩余人次</div>
								</li>
							</ul>
						</div>
					}
                    <a href="/item/@item.ItemId" target="_blank" class="btn btn-primary btn-product-buy">立即夺宝</a>
                    <button data-action="addToCart" data-item="@item.ItemId" class="btn btn-default btn-add"><span class="fa fa-cart-plus"></span></button>
                }
			</li>*@
		}
	</ul>
</div>