@model SF.Management.FrontEndContents.Mvc.RenderModel
@using SF.AspNetCore.Mvc
@foreach (var item in Model.Content.Items)
{
    <li>
        <a href="@item.Uri" target="@item.UriTarget">
            <img src="@Html.Media(item.Icon)" />
            <div>@item.Title1</div>
            <div>@item.Title2</div>
        </a>
    </li>
}