@{
    var setting = Html.Setting<CrowdMallSetting>();
}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>@ViewBag.Title - @setting.SiteName</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1" name="viewport" />

	@Html.CDNStyle("~/bundles/desktop/css")
	<link rel="shortcut icon" href="/favicon.ico" />
</head>
<body class="preload">
	@Html.Partial("_Header")
	@Html.Partial("_OtherUserHeadPanel")
	<div class="container clearfix">
		@Html.Partial("_OtherUserMenuPanel")
		<div class="user-admin-body">
			@RenderBody()
		</div>
	</div>

	@Html.Partial("_Tailer")
	@Html.CDNScript("~/bundles/desktop/js")

	@RenderSection("scripts", required: false)
    @Html.Partial("_SystemTailer")


</body>
</html>
