@{ 
	var routeValues = ViewContext.RequestContext.RouteData.Values;
	var cur_action = routeValues.Get("action") as string;
	var cur_controller = routeValues.Get("controller") as string;
	var cur_page = (cur_controller+"/"+(cur_action ?? "index")).ToLower();
}
<div  class="user-admin-menu">
    <ul>
        <li class="@(cur_page=="user/index"?"active":"")">
            <a href="/user">
                <img src="~/css/desktop/images/usermenu/menu-home.png" /> 我的账户
            </a>
        </li>
        <li class="@(cur_page=="trade/history"?"active":"")">
            <a href="/trade/history">
                <img src="~/css/desktop/images/usermenu/menu-trade-record.png" /> 夺宝记录
            </a>
        </li>
        <li class="@(cur_page=="account/rechargehistory"?"active":"")">
            <a href="/account/rechargehistory">
                <img src="~/css/desktop/images/usermenu/menu-deposit-record.png" />充值记录
            </a>
        </li>
        <li class="@(cur_page=="user/win"?"active":"")">
            <a href="/user/win">
                <img src="~/css/desktop/images/usermenu/menu-win.png" />中奖记录
            </a>
        </li>
        <li class="@(cur_page=="user/expose"?"active":"")">
            <a href="/user/expose">
                <img src="~/css/desktop/images/usermenu/menu-expose.png" />我的晒单
            </a>
        </li>
        @*<li class="@(cur_page=="promotion/bonuspoint"?"active":"")">
            <a href="/promotion/bonuspoint">
                <img src="~/css/desktop/images/usermenu/bonuspoints.png" />我的积分
            </a>
        </li>*@
        <li class="@(cur_page=="promotion/coupon"?"active":"")">
            <a href="/promotion/coupon">
                <img src="~/css/desktop/images/usermenu/menu-coupon.png" />我的红包
            </a>
        </li>
        <li class="@(cur_page=="promotion/privateactivity"?"active":"")">
            <a href="/promotion/privateactivity">
                <img src="~/css/desktop/images/usermenu/menu-activity.png" />专属活动
            </a>
        </li>
        <li class="@(cur_page=="promotion/invite"?"active":"")">
            <a href="/promotion/invite">
                <img src="~/css/desktop/images/usermenu/menu-invite.png" />邀请好友
            </a>
        </li>
        <li class="@(cur_page=="user/address"?"active":"")">
            <a href="/user/address">
                <img src="~/css/desktop/images/usermenu/menu-address.png" />收货地址
            </a>
        </li>
        <li class="@(cur_page=="user/security"?"active":"")">
            <a href="/user/security">
                <img src="~/css/desktop/images/usermenu/menu-security.png" />安全中心
            </a>
        </li>
    </ul>
</div>